# exists as /etc/systemd/system/shoot.timer
# enable with 
#   sudo systemctl enable shoot.timer

[Unit]
Description=Take picture every 20 seconds

[Timer]
OnActiveSec=10
OnBootSec=10
OnUnitActiveSec=20
Unit=shoot.service

[Install]
WantedBy=timers.target
